@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
@model Gcc.Web.ViewsModel.BuscaViewModel 
    @using (Html.BeginForm("Buscar", "Grupo"))
    {
        <div class="container-fluid">
            <div class="row top30">
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img class="img-responsive center-block" src="~/Images/logo.png" alt="Logo" />
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
            </div>
            <div class="row top15">
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.TextoBusca, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
                <div class="col-md-4 col-lg-4 col-sm-4">                    
                    <button type="submit" value="Buscar" class="btn btn-default btn-primary center-block" onclick="location.href='@Url.Action("Detalhes", "Grupo", new { textoBusca = @Model.TextoBusca })';">Buscar</button>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4"></div>
            </div>
        </div>
    }
}
